## Python __pycache__ directories
__pycache__/

## Python __pycache__ in all directories
**/__pycache__/

## Python *.pyc files
*.pyc

## ignore save directories
temp/
mis_de_cote/
aside/
catalog/save/

## ignore datas
sismogrammes/
sismogrammes/sismogrammes_save/